name: Build and release

on:
  push:
    branches: [main]
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - "[0-9]+.[0-9]+.[0-9]"
  # pull_request:
  #   branches: [main]

jobs:
  release-build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.9.13"
          enable-cache: true
          save-cache: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Build Package with UV
        run: |
          uv build

      - name: Publish on pypi
        run: uv publish

      - name: Upload Built Package
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  github-release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [release-build]
    permissions:
      contents: write
    steps:
      - name: Retrieve Built Package
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          draft: false
          prerelease: ${{ contains(github.ref_name, '-beta') || contains(github.ref_name, '-alpha') || contains(github.ref_name, '-rc') }}
